@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap');

html{
    font-family: 'Lato', sans-serif;
}
body{
    background: #283c86;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #45a247, #283c86);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #45a247, #283c86); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

img{
    max-width: 100%;
}

td{
    display: block;
}
th{
    display: none;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.content {
    max-width: 960px;
    width: 100%;
    height: 80vh;
    background-color: #fff;
    border-radius: 15px;
    overflow-y: auto;
    padding: 2rem;
    position: relative;
}

.actions{
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.close{
    height: 3rem;
    width: 3rem;
    color: #fff;
    background-color: blue;
    border-radius: 50%;
    text-decoration: none;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 3px 6px rgb(0, 0, 0, 0.23);
}
.close:hover{
    opacity: 0.8;
}

.titulo-item{
    color: #283c86;
    border-bottom: solid;
    border-bottom-width: 2px;
    border-bottom-color: #5c6dac ;
    padding-bottom: 1rem;
}

.posicion{
    background-color: #283c86;
    color: #fff;
    padding: 0.5rem;
    border-radius: 4px;
    margin-right: 1rem;
}

.direccion{
    font-weight: bold;
    color: #283c86;
    font-size: 1.2rem;
    margin-top: 1rem;
}

#amarillo{
    color: #d6c804;
}

td:nth-of-type(1){
    font-size: 1.5rem;
    font-weight: bold;
    color: #283c86;
}

tr:nth-child(even){
    background-color: #f5F5f5;
}

/*animaciones en css*/

/*.content{
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: 2;
    animation-direction: alternate;
    animation: 3s infinite alternate slidein;
}

@keyframes slidein{
    from{
        margin-left: 100%;
        width: 300%;
    }

    75%{
        font-size: 5rem;
        margin-left: 20%;
        width: 150%;
    }

    to{
        margin-left: 0%;
        width: 100%;
    }
}*/

@media (min-height: 550px) {
    .content{
        height: 500px;
    }
    
}

@media (min-width: 900px){
    th{
        display: table-cell;
    }
    td{
        display: table-cell;
    }
    
    td:nth-of-type(1){
        font-size: 1rem;
        font-weight: normal;
        color: #000;
    }
}